* {
  box-sizing: border-box;
}


body {
  font-family: Arial;
  padding: 5px;
  background: white;
  height: 120vh;
  display: grid;
  grid-template-rows: 25% auto auto;
  grid-template-columns: 100%;
  margin: 20px;
}

/* HEADER */
header {
  width: inherit;
  grid-row: 1/2;
  display: grid;
  grid-template-rows: auto 40%;
}

.titulo{
  grid-row: 2/3;
  margin: 0;
}

.imagen1 {
  height: 100px;
}

#volver {
  position: absolute;
  top: 30px;
  right: 15px;
  /* grid-column: 3/4;
  grid-row: 1/2; */
  width: 100px;
  height: 20px;
  margin-right: 0;
  margin-top: 0;
  border: none;
  border-radius: 15px;
  background-color: #152087;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

/* CUERPO */
/* DESPLEGABLES */

.inscripciones {
  margin-top: 20px;
  grid-row: 2/3;
  grid-column: 1/2;
}

summary {
  background-color: rgb(5, 17, 82);
  color: white;
  padding: 5px;
  margin-bottom: 5px;
  margin-top: 10px;
  overflow: hidden;
}

details {
  width: inherit;
  margin-left: 0;
  cursor: pointer;
}

/* COLUMNAS */
.row {
  clear: both;
  width: 100%;
  display: block;
}



/* COLUMNA 1 (Donde se marca el inicio y fin de la inscripcion) */
.col-1 {
  float: left;
  height: 350px;
  display: grid;
  grid-template-columns: 30% auto;

  width: 20%;
  background: rgba(139, 123, 123, 0.12);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(139, 123, 123, 0.31);
  padding: 10px;
}

.cierre-ins {
  grid-column: 1/3;
  text-align: center;
  background-color: #152087;
  color: white;
  border: none;
  height: 30px;
  margin: auto;
  font-size: medium;
  border-radius: 15px;
}

.label-1 {
  grid-column: 1/2;
  margin-top: 15px;
  text-align: center;
}

.label-2 {
  grid-column: 1/2;
  text-align: center;
}

#inicio {
  margin-top: 18px;
  grid-column: 2/3;
  height: 15px;
  width: 80%;
}

#fin {
  grid-column: 2/3;
  height: 15px;
  margin-top: 3px;
  width: 80%;
}

.texto {
  grid-column: 1/3;
  text-align: center;
  margin-bottom: 0;
  margin: auto;
}

.abierta {
  grid-column: 1/3;
  color: green;
  text-align: center;
  margin: auto;
  margin-top: 0;
}

.cerrada {
  grid-column: 1/3;
  color: red;
  text-align: center;
  margin: auto;
  margin-top: 0;
}

/* COLUMNA 2 (Donde se agregarán las materias, comisiones, el cupo...) */
.col-2 {
  float: left;
  width: 79%;
  height: 350px;
  margin-left: 1%;
  display: grid;
  grid-row: 5% auto 10%;

  background: rgba(139, 123, 123, 0.12);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(139, 123, 123, 0.31);
  padding: 10px;
}


/* TABLA */
.header-tabla {
  display: flex;
  justify-content: space-between;
}

thead {
  padding: 8px 15px;
  background-color: rgb(5, 17, 82);
  color: white;
  text-align: center;
}

th {
  padding: 8px 15px;
}

table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 100%;
  grid-row: 2/3;
}

td {
  background-color: white;
  color: black;
  padding: 8px;
  text-align: left;
}

tbody:hover {
  background-color: #fff8;
}

.agr-curso {
  border: none;
  border-radius: 15px;
  background-color: #152087;
  color: white;
  margin-top: 10px;
  padding: 5px;
}


#btnAgregarCurso {
  border: none;
  border-radius: 15px;
  background-color: #152087;
  color: #ffffff;
  text-align: center;
  margin: auto;
  padding: 5px;
  height: 30px;
  width: 30%;
  cursor: pointer;
  font-size: medium;
  grid-row: 3/4;
}


#errorcupo {
  color: red;
  text-align: center;
  font-size: small;
}

.tablaHoraHead {
  background-color: rgb(23, 0, 90);
  color: #ffffff;
  padding: 8px;

}

.tablath,
.tablatr {
  padding: 8px 0px;
  border-bottom: 1px solid #b2b2b2;
}

#hora {
  width: 150px;
}

#errorhoras {
  color: red;
  text-align: center;
  font-size: small;
}

#agregarInscripcion {
  color: white;
  border-radius: 8px;
  background-color: #152087;
  cursor: pointer;
  padding: 8px;
  float: left;
}

@media screen and (max-width: 800px) {

  #ventana,
  #ventana_1 {
    width: 100%;
  }

  .materia,
  .com,
  .cup {
    font-size: small;
  }
}

@media screen and (max-width: 800px) {

  .col-1,
  .col-2 {
    float: none;
    width: 100%;
  }

  .col-2 {
    margin-top: 5px;
    height: 55vh;
  }
}

@media screen and (max-width: 900px) {
  table {
    display: block;
    overflow-x: auto;
  }

  .agr-curso {
    margin-top: 0;
  }
}

@media screen and (max-width: 400px) {
  img {
    margin-left: 20px;
  }

  .titulo {
    text-align: center;
    grid-column: 1/2;
    margin: 5px;
  }

  #volver {
    margin-top: 185px;
    text-align: center;
  }

  article {
    margin-top: 30px;
  }
}

#contenedor {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  background-color: #f1f1f1;
  height: 95%;
  width: 70%;
  grid-row: 3/4;
  margin: auto;
  display: grid;
  grid-template-rows: 20% auto ;
}

#formInscripciones{
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-columns: 55% auto;
  padding: 10px;
  height: 100%;
}

h3{
  grid-row: 1/2;
  margin: auto;
}

#labelaño {
  grid-column: 1/2;
  grid-row: 1/2;
  margin: auto;
  margin-left: 30px;
}

#anio{
  grid-column: 2/3;
  grid-row: 1/2;
  height: 30px;
  width: 80%;
  margin: auto;
  margin-left: 30px;
  padding: 10px;
  font-size: small;
  border: 2px solid #ccc;
  border-radius: 15px;
  box-sizing: border-box;
  color: black;
}

#labelCuatri{
  grid-column: 1/2;
  grid-row: 2/3;
  margin: auto;
  margin-left: 30px;
}

#cuatrimestre{
  grid-column: 2/3;
  grid-row: 2/3;
  height: 30px;
  width: 80%;
  margin: auto;
  margin-left: 30px;
  padding-left: 10px;
  font-size: small;
  border: 2px solid #ccc;
  border-radius: 15px;
  box-sizing: border-box;
}

#labelEstado {
  grid-column: 1/2;
  grid-row: 3/4;
  margin: auto;
  margin-left: 30px;
}

#estado{
  grid-column: 2/3;
  grid-row: 3/4;
  height: 30px;
  width: 80%;
  margin: auto;
  margin-left: 30px;
  padding-left: 10px;
  font-size: small;
  border: 2px solid #ccc;
  border-radius: 15px;
  box-sizing: border-box;
  color: black;
}

#btnInscripciones{
  grid-column: 1/3;
  grid-row: 4/5;
  width: 30%;
  background-color: #152087;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  padding: 10px 15px;
  margin: auto;
  text-decoration: none;
  text-align: center;
  font-size: medium;
  height: 35px;
}

input[type=search]{
  grid-row: 1/2;
  padding: 5px 15px;
  margin: auto;
  height: 30px;
  margin-left: 10px;
  border-radius: 15px;
  width: 60%;
  font-size: medium;
}

#error_incompleto{
  grid-row: 4/5;
  grid-column: 1/3;
}

#resAjax{
  grid-column: 1/3;
  grid-row: 3/4;
  color: rgb(209, 3, 3);
  margin: auto;
  margin-top: 60px;
}

#btnOrden{
  grid-row: 2/3;
  grid-column: 1/2;
  margin: auto;  
  margin-top: 0px;
  margin-right: 0px;
  width: 150px;
  height: 20px;

  background-color: #152087;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

#error_anio{
  grid-column: 1/3;
  grid-row: 1/2;
  margin: auto;
  margin-top: 60px;

  color: rgb(209, 3, 3);

}

#error_incompleto{
  grid-column: 1/3;
  grid-row: 4/5;
  margin: auto;
  margin-top: 60px;
    
  color: rgb(209, 3, 3);

}

.resCierre{
  margin: auto;
  grid-column: 1/3;
  grid-row: 2/3;
  text-align: center;
  color: rgb(209, 3, 3);
}