<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Para que se active el modo responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Relaciona o enlaza este archivo html con el 03.css-->
    <link rel="stylesheet" href="../static/css/Usuario.css">
    <title>UCA Planner | Administrador</title>
</head>

<body>
    <div class="header">
        <h1>UCA Planner</h1>
    </div>
    <div class="topnav">
        <a href="/home">Información</a>
        <a href="/gestion_inscripciones">Inscripciones</a>
        <a href="/cursos">Cursos</a>
        <a href="/comisiones">Comisiones</a>
        <a href="/materias">Materias</a>

        <div class="topnav_right">
            <a href="/perfil">Administrador</a>
        </div>
    </div>

    <div class="contenedor">

        <h1 class="perfil">Perfil</h1>

        <div class="informacion">

            <h4>Usuario:</h4>
            <p>@{{param["usuario"]}}</p>

            <h4>Nombre:</h4>
            <p>{{param["nombre"]}} {{param["apellido"]}}</p>

            <h4>Mail:</h4>
            <p>{{param["email"]}}</p>
        </div>

        <div class="botones">

            <a href="/editar_perfil" class="boton">Editar Perfil</a>
            <a href="/logout" class="boton">Cerrar Sesión</a>

        </div>

    </div>

    <div class="footer">
        <h2>Contactanos</h2>
        <p> uca_planner@uca.edu.com | Teléfono: 15-4627-9873</p>
    </div>

</body>

</html>