<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UCA Planner | Comisiones</title>
    <link rel="stylesheet" href="../static/css/Materias.css">
</head>

<body>
    <!-- HEADER -->
    <div class="header">
        <img src="../static/img/logo-uca.jfif" class="imagen1">
        <h2 class="titulo">Gestión de Comisiones</h2>
    </div>


    <div class="row">
        <div class="leftcolumn">
            <div class="card">
                <h4 class="titulo">Comisiones Cargadas</h4>
                <select name="com" class="comisionSelect" multiple>
                    {% for comision in param["comisiones"][0:] %}
                    <option value="{{comision['nombre']}}">{{comision["nombre"]}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="card">
                <a href="/comisiones" class="boton">Agregar Comisión</a>
                <a href="/home" class="boton">Volver</a>
            </div>
        </div>
        <div class="rightcolumn">
            <div class="card" id="contenedor">
                <h2>Agregar una Comisión</h2>
                <form onsubmit="return validarDatos()" action="/agregar_comision" method="post">
                    <label for="comision">Nombre de Comisión:</label>
                    <input type="text" name="comision" id="comision" placeholder="Ingrese la comisión.."
                        onfocusout="validarNombre()">
                    <p class="error" id="error comision"></p>

                    <p class="error" id="error incompleto"></p>

                    <input type="submit" value="Agregar Comisión">

                </form>
            </div>
        </div>
    </div>

    <script language="javascript" type="text/javascript" src="../static/js/Comisiones.js"></script>

</body>

</html>