<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UCA Planner | Inscripciones</title>
  <link rel="stylesheet" href="../static/css/GestionInscripciones.css">
</head>

<body>
  <!-- HEADER -->
  <header>
    <img src="../static/img/logo-uca.jfif" class="imagen1">
    <h2 class="titulo">Gestión de Inscripciones</h2>
    <button type="button" id="volver">
      <a href="/home">Volver a Inicio</a>
    </button>
  </header>

  <!-- DESPLEGABLES -->
  <article class="inscripciones"> 
    {% for inscripcion in param["inscripciones"][0:] %}
    <details class="prueba">
      <summary>INSCRIPCION {{inscripcion["año"]}} {{inscripcion["cuatri"]}}{{inscripcion["tipo"]}} CUATRIMESTRE
      </summary>
      <div class="row">
        {% if inscripcion['id'] is defined %}
        <form class="col-1" id="formCierre{{inscripcion['id']}}" >
          <input type="hidden" name="idInscripcion" value="{{inscripcion['id']}}">
          <button type="button" class="cierre-ins" id="btnCierre" idIns="{{inscripcion['id']}}" onclick="cerrarIns()">Cerrar Inscripción</button>
          <div id="resCierre"></div>
          <p class="texto">ESTADO:</p>
          {% if inscripcion["estado"] == "cerrada" %}
          <p class="cerrada">{{inscripcion["estado"]}}</p>
          {% else %}
          <p class="abierta">{{inscripcion["estado"]}}</p>
          {% endif %}
        </form>
        {% endif %}
        <div class="col-2">
          <input type="search" placeholder="Filtrar por..." name="search" id="inputFiltro{{inscripcion['id']}}"
           oninput="filtrarTabla(this)">
          <table id="tablaCurso{{inscripcion['id']}}">
            <thead>
              <tr>
                <th>Cantidad de Inscriptos </th>
                <th>Comisión</th>
                <th>Materia</th>
                <th>Código</th>
              </tr>
            </thead>
            <tbody>
              {% for curso in param["cursos"][0:] %}
              {% if curso["id_inscripcion"] == inscripcion["id"] %}
              <tr>
                <td>{{curso["inscriptos"]}}/{{curso["cupo"]}}</td>
                <td>{{curso["materia"]["comision"]}}</td>
                <td>{{curso["materia"]["nombre"]}}</td>
                <td>{{curso["materia"]["codigo"]}}</td>
              </tr>
              {% endif %}
              {% endfor %}
            </tbody>
          </table>
          <!-- AGREGAR MATERIA -->
          <!-- <button id="abrir" onclick="abrir()">Agregar Curso</button> -->
          <a id="btnAgregarCurso" href="/cursos">Agregar Curso</a>

        </div>
      </div>
    </details>
    {% endfor %}
  </article>
  <button type="button" onclick="sortDesplegables()" id="btnOrden">Ordenar por año</button>


  <div class="card" id="contenedor">
    <h3>Agregar una Inscripción</h3>
    <form onsubmit="return validarDatos()" action="/agregar_inscripcion" method="post" id="formInscripciones">

      <label for="anio" id="labelaño">Ingrese el año del período de Inscripciones:</label>
      <input type="text" name="anio" id="anio" placeholder="Ingrese el año.." onclick="insertarAnioActual()"
        onfocusout="validarAnio()">
      <p class="error" id="error_anio"></p>

      <label for="cuatrimestre" id="labelCuatri">Asigne el cuatrimestre del período de Inscripciones:</label>
      <select id="cuatrimestre" name="cuatrimestre" title="Seleccionar...">
        <option value="0" disabled selected>Seleccionar..</option>
        <option value="1">Primer Cuatrimestre (1C)</option>
        <option value="2">Segundo Cuatrimestre (2C)</option>
      </select>

      <label for="estado" id="labelEstado">Asigne el estado del período de Inscripciones:</label>
      <select id="estado" name="estado" title="Seleccionar..." onchange="validarEstado()">
        <option value="0" disabled selected>Seleccionar..</option>
        <option value="abierta">Abierta</option>
        <option value="cerrada">Cerrada</option>
      </select>
      <div id="resAjax"></div>



      {% if param["estado"] == "carga fallida" %}
      <p class="error" id="error_carga">{{param["error"]["error inscripcion"]}}</p>
      {% endif %}

      <p class="error" id="error_incompleto"></p> 
      <button type="submit" id="btnInscripciones">Agregar Inscripcion</button>

    </form>
  </div>

  <script language="javascript" type="text/javascript" src="../static/js/GestionInscripciones.js"></script>
</body>

</html>