<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UCA Planner | Inscripciones</title>
  <link rel="stylesheet" href="../static/css/GestionInscripciones.css">
</head>

<body>
  <!-- HEADER -->
  <header>
    <img src="../static/img/logo-uca.jfif" class="imagen1">
    <h2 class="titulo">Gestión de Inscripciones</h2>
    <button type="button" id="volver">
      <a href="/home">Volver a Inicio</a>
    </button>
  </header>

  <!-- DESPLEGABLES -->
  {% for inscripcion in param["inscripciones"][0:] %}
  <article class="inscripciones">
    <!-- ACA VAN A IR LOS DESPLEGABLES, Y SE VAN A ABRIR CON UN FOR USANDO JINJA -->
    <details class="prueba">

      <summary>INSCRIPCION {{inscripcion["año"]}} {{inscripcion["cuatri"]}}{{inscripcion["tipo"]}} CUATRIMESTRE
      </summary>
      <div class="row">
        <div class="col-1">
          <input type="submit" class="cierre-ins" value="Cerrar Inscripción">

          <p class="texto">ESTADO:</p>
          {% if inscripcion["estado"] == "cerrada" %}
          <p class="cerrada">{{inscripcion["estado"]}}</p>
          {% else %}
          <p class="abierta">{{inscripcion["estado"]}}</p>
          {% endif %}
        </div>
        <div class="col-2">
          <section class="header-tabla">
            <div class="input-grupo">
              <input type="search" placeholder="Filtrar por..." name="search" id="search_4">
            </div>
          </section>
          <table id="tablaCurso">
            <thead>
              <tr>
                <th>Cantidad de Inscriptos </th>
                <th>Comisión</th>
                <th>Materia</th>
                <th>Código</th>
              </tr>
            </thead>
            <tbody>
              {% for curso in param["cursos"][0:] %}
              {% if curso["id_inscripcion"] == inscripcion["id"] %}
              <tr>
                <td>10/ {{curso["cupo"]}}</td>
                <td>{{curso["materia"]["comision"]}}</td>
                <td>{{curso["materia"]["nombre"]}}</td>
                <td>{{curso["materia"]["codigo"]}}</td>
              </tr>
              {% endif %}
              {% endfor %}
            </tbody>
          </table>
          <!-- AGREGAR MATERIA -->
          <button id="abrir" onclick="abrir()">Agregar Curso</button>
          <!-- Este button puede ser un <a href="/cursos"> -->

        </div>
      </div>

    </details>
  </article>

  {% endfor %}

  <a href="/inscripciones" id="agregarInscripcion">Agregar período de Inscripción</a>

  <script language="javascript" type="text/javascript" src="../static/js/GestionInscripciones.js"></script>
</body>

</html>