<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UCA Planner | Inscripciones</title>
    <link rel="stylesheet" href="../static/css/Materias.css">
</head>

<body>
    <!-- HEADER -->
    <div class="header">
        <img src="../static/img/logo-uca.jfif" class="imagen1">
        <h2 class="titulo">Gestión de Inscripciones</h2>
    </div>


    <div class="row">
        <div class="leftcolumn">
            <div class="card">
                <h4 class="titulo">Inscripciones Cargadas</h4>
                <select name="com" class="comisionSelect" multiple>
                    {% for inscripcion in param["inscripciones"][0:] %}
                    <option value="{{comision['nombre']}}">Inscripciones {{inscripcion["año"]} Cuatri.
                        {{inscripcion["cuatri"]}}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="card">
                <a href="/inscripciones" class="boton">Agregar Inscripción</a>
                <a href="/gestion_inscripciones" class="boton">Volver</a>
            </div>
        </div>
        <div class="rightcolumn">
            <div class="card" id="contenedor">
                <h2>Agregar una Inscripción</h2>
                <form onsubmit="return validarDatos()" action="/agregar_inscripcion" method="post">

                    <label for="anio">Ingrese el año del período de Inscripciones:</label>
                    <input type="text" name="anio" id="anio" placeholder="Ingrese el año.."
                        onclick="insertarAnioActual()" onfocusout="validarAnio()">
                    <p class="error" id="error anio"></p>

                    <label for="cuatrimestre">Asigne el cuatrimestre del período de Inscripciones:</label>
                    <select id="cuatrimestre" name="cuatrimestre" title="Seleccionar...">
                        <option value="0" disabled selected>Seleccionar..</option>
                        <option value="1">Primer Cuatrimestre (1C)</option>
                        <option value="2">Segundo Cuatrimestre (2C)</option>
                    </select>

                    <label for="estado">Asigne el estado del período de Inscripciones:</label>
                    <select id="estado" name="estado" title="Seleccionar...">
                        <option value="0" disabled selected>Seleccionar..</option>
                        <option value="abierta">Abierta</option>
                        <option value="cerrada">Cerrada</option>
                    </select>

                    <p class="error" id="error incompleto"></p>

                    {% if param["estado"] == "carga fallida" %}
                    <p class="error" id="error carga">{{param["error"]["error ..."]}}</p>
                    {% endif %}

                    <input type="submit" value="Agregar Inscripción">

                </form>
            </div>
        </div>
    </div>

    <script language="javascript" type="text/javascript" src="../static/js/Inscripciones.js"></script>

</body>

</html>