<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Para que se active el modo responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Relaciona o enlaza este archivo html con el 03.css-->
    <link rel="stylesheet" href="../static/css/MenuPrincipal.css">
    <title>UCA Planner</title>
</head>

<body>
    <div class="header">
        <h1>UCA Planner</h1>
    </div>
    <div class="topnav">
        <a href="/home">Información</a>
        <a href="/cronograma">Organizador de Horarios</a>
        <div class="topnav_right">
            <a href="/register">Registrarse</a>
            <a href="/login">Iniciar Sesión</a>
        </div>
    </div>

    <div class="row">
        <div class="leftcolumn">
            <div class="card">
                <h1 class="titulo">¿Qué es UCA Planner?</h1>
                <img src="../static/img/uca1.jpg" class="imagen"></img>
                <p>
                    UCA Planner es tu organizador de horarios favorito de la UCA, para
                    poder tener un cronograma de horarios con las materias que el alumno
                    eliga, para poder observar cómo quedarían sus materias en las que se
                    anotaría.
                </p>
            </div>
            <div class="card">
                <h1 class="titulo">¿Qué función cumple?</h1>
                <p>
                    UCA Planner tiene como objetivo que el alumno pueda observar con
                    mayor claridad las opciónes de cronogramas de horarios de las materias
                    que dispone, pudiendo elegir así cualquier materia y cualquier
                    horario.
                </p>
            </div>
        </div>
        <div class="rightcolumn">
            <div class="card">
                <h2 class="titulo">Sobre nosotros</h2>
                <p>
                    Somos un grupo de estudiantes de la facultad que intenta
                    solucionar los problemas de los alumnos y facilitarle la cursada.
                    En este caso, ayudando en la inscripción de las materias.
                </p>
            </div>
            <div class="card">
                <h3 class="titulo">Seguinos en nuestras Redes:</h3>
                <p>Instagram - @UCAPlanner </p>
            </div>
        </div>
    </div>

    <div class="footer">
        <h2>Contactanos</h2>
        <p> uca_planner@uca.edu.com | Teléfono: 15-4627-9873</p>
    </div>

</body>

</html>