<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/MenuPrincipalAdmin.css">
    <title>UCA Planner</title>
</head>

<body>
    <div class="header">
        <h1>UCA Planner</h1>
    </div>

    <div class="topnav">
        <a href="/home">Información</a>
        <a href="/gestion_inscripciones">Inscripciones</a>
        <a href="/comisiones">Comisiones</a>
        <a href="/materias">Materias</a>

        <div class="topnav_right">
            <a href="/perfil">Administrador</a>
        </div>
    </div>

    <div class="row">
        <div class="leftcolumn">
            <div class="card">
                <h1 class="titulo">Rol de Administrador: Activado</h1>
                <img src="../static/img/uca1.jpg" class="imagen"></img>
                <p>
                    UCA Planner es el organizador de horarios de la UCA, para
                    poder tener un cronograma de horarios con las materias que el alumno
                    elija, para poder observar cómo quedarían sus materias en las que se
                    anotaría. Éste rol de administrador que tiene usted ahora, debe ser
                    utilizado con demasiada responsabilidad, ya que muchos alumnos dependen
                    del UCA Planner.
                </p>
            </div>
            <div class="card">
                <h1 class="titulo">"Un gran poder, conlleva una gran responsabilidad"</h1>
                <p>
                    Como administrador, usted puede gestionar las inscripciones de los
                    cuatrimestres de cada año y de cada cuarimestre en específico. Usted
                    puede también administrar materias de diferentes comisiones, puede
                    agregar o quitar materias, al igual que las inscripciones.

                    Por este motivo, les recomendamos la frase del famoso y recordado
                    Peter Parker: "Un gran poder, conlleva una gran responsabilidad".
                </p>
            </div>
        </div>
        <div class="rightcolumn">
            <div class="card">
                <h2 class="titulo"> Sobre nosotros </h2>
                <p>
                    Somos un grupo de estudiantes de la facultad que intenta
                    solucionar los problemas de los alumnos y facilitarle la cursada.
                    En este caso, ayudando en la inscripción de las materias.
                </p>
            </div>
            <div class="card">
                <h3 class="titulo">Redes:</h3>
                <p>Instagram - @UCAPlanner</p>
            </div>
        </div>
    </div>

    <div class="footer">
        <h2>Contactanos</h2>
        <p> uca_planner@uca.edu.com | Teléfono: 15-4627-9873</p>
    </div>

</body>

</html>