<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Para que se active el modo responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Relaciona o enlaza este archivo html con el 03.css-->
    <link rel="stylesheet" href="../static/css/OrganizadorDeHorarios.css">
    <title>UCA Planner | Organizador de Horarios</title>

</head>

<body>
    <div class="header">
        <h1>UCA Planner</h1>
    </div>
    <div class="topnav">
        <a href="/home">Información</a>
        <a href="/cronograma">Organizador de Horarios</a>
        <div class="topnav_right">
            <a href="/perfil">Usuario</a>
        </div>
    </div>

    <div class="row">
        <div class="leftcolumn">
            <div class="card">
                <table>
                    <thead>
                        <tr>
                            <th id="hora">Hora</th>
                            <th>Lunes</th>
                            <th>Martes</th>
                            <th>Miércoles</th>
                            <th>Jueves</th>
                            <th>Viernes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Aquí se mostrará la tabla de horarios -->
                        {% for horas in param["horas"] %}
                        <tr id="hora{{horas['id']}}">
                            <th id="hora">{{horas['hora']}}</th>
                            <th id="lun-hora-{{horas['id']}}"></th>
                            <th id="mar-hora-{{horas['id']}}"></th>
                            <th id="mie-hora-{{horas['id']}}"></th>
                            <th id="jue-hora-{{horas['id']}}"></th>
                            <th id="vie-hora-{{horas['id']}}"></th>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>

        </div>
        <div class="rightcolumn">
            <div class="card">
                <form onsubmit="return validarDatos()" action="/inscribirse" method="POST" id="form_inscripcion">

                    <label class="titulo1" for="inscripcion">Seleccione la Inscripción:</label>
                    <select id="inscripcion" name="inscripcion" onfocusout="validarInscripcion()">
                        <option value="0" disabled selected>Seleccionar..</option>

                        {% for inscripcion in param["inscripciones"] %}
                        {% if inscripcion["estado"] == "cerrada" %}
                        <option disabled>Inscripciones {{inscripcion["año"]}}
                            {{inscripcion["cuatri"]}}{{inscripcion["tipo"]}}Cuatri.
                        </option>
                        {% else %}
                        <option value="{{inscripcion['id']}}"
                            onclick="ofrecerMaterias('recibir_inscripcion', 'materia', 'form_inscripcion')">
                            Inscripciones {{inscripcion["año"]}}
                            {{inscripcion["cuatri"]}}{{inscripcion["tipo"]}} Cuatri.
                        </option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </form>
                <p class="error" id="error inscripcion"></p>

                <form>
                    <label class="titulo1" for="materia">Selecciona una materia:</label>
                    <select id="materia" name="materia" onfocusout="validarMateria()" disabled>
                        <option value="0" disabled selected>Seleccionar..</option>


                        <option value="calculoElemental">Cálculo Elemental</option>
                        <option value="filo">Filosofía</option>
                        <option value="info">Informática General</option>
                        <option value="compl">Complemento de Matemática</option>
                        <option value="repre">Representación Gráfica</option>
                        <option value="intro">Introducción a la Ingeniería</option>
                    </select>
                    <p class="error" id="error incompleto"></p>

                    <button onclick="agregarMateria()">Agregar Materia</button>
                    <button onclick="resetearCronograma()">Resetear</button>
                    <button type="submit">Inscribirse a Materia</button>



                    <!-- Estos buttons deberían ser inputs dentro de un form 
                
                    SE VA A USAR AJAX EN ESTA TABLA PARA PODER REALIZAR LA CARGA DE FORMA ASINCRONICA
                    (y asi no tener que actualizar la pagina cada vez que se carga la pantalla)
                -->
                </form>
            </div>
        </div>
    </div>

    <div class="footer">
        <h2>Contactanos</h2>
        <p> uca_planner@uca.edu.com | Teléfono: 15-4627-9873</p>
    </div>

    <script language="javascript" type="text/javascript" src="../static/js/OrganizadorDeHorarios.js"></script>
</body>

</html>