<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Para que se active el modo responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Relaciona o enlaza este archivo html con el 03.css-->
    <link rel="stylesheet" href="../static/css/OrganizadorDeHorarios.css">
    <title>UCA Planner | Organizador de Horarios</title>

</head>

<body>
    <div class="header">
        <h1>UCA Planner</h1>
    </div>
    <div class="topnav">
        <a href="/home">Información</a>
        <a href="/cronograma">Organizador de Horarios</a>
        <div class="topnav_right">
            <a href="/perfil">Usuario</a>
        </div>
    </div>

    <div class="row">
        <div class="leftcolumn">
            <div class="card">
                <table id="cronograma">
                    <thead>
                        <tr>
                            <th id="hora">Hora</th>
                            {% for dias in param["dias"] %}
                            <th>{{dias["dia"]}}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Aquí se mostrará la tabla de horarios -->
                        {% for horas in param["horas"] %}
                        <tr id="hora{{horas['id']}}">
                            <th id="hora">{{horas['hora']}}</th>
                            {% for dias in param["dias"] %}
                            <th id="{{dias['id']}}-{{horas['id']}}"></th>
                            {% endfor %}
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
                <p id="prueba"></p>
            </div>

        </div>
        <div class="rightcolumn">
            <div class="card">
                <form onsubmit="return validarDatos()" action="/inscribirse" id="formInscripcion" method="POST">

                    <label class="titulo1" for="inscripcion">Seleccione la Inscripción:</label>
                    <select id="inscripcion" name="inscripcion" onfocusout="validarInscripcion()">
                        <option value="" disabled selected>Seleccionar..</option>

                        {% for inscripcion in param["inscripciones"] %}
                        {% if inscripcion["estado"] == "cerrada" %}
                        <option disabled>Inscripciones {{inscripcion["año"]}}
                            {{inscripcion["cuatri"]}}{{inscripcion["tipo"]}}Cuatri.
                        </option>
                        {% else %}
                        <option value="{{inscripcion['id']}}">Inscripciones {{inscripcion["año"]}}
                            {{inscripcion["cuatri"]}}{{inscripcion["tipo"]}} Cuatri.
                        </option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <p class="error" id="error inscripcion"></p>

                    <label class="titulo1" for="materia">Selecciona una materia:</label>
                    <select id="materia" name="materia" disabled>
                        <option value="" disabled selected>Seleccionar..</option>

                        {% for curso in param["cursos"] %}
                        <option value="{{curso['materia']['id_com_mat']}}">
                            {{curso["materia"]["nombre"]}}
                            ({{curso["materia"]["comision"]}})
                        </option>
                        {% endfor %}
                    </select>

                    <p class="error" id="error incompleto"></p>

                    <input type="button" value="Mostrar Materia" onclick="mostrarMateria()"></input>
                    <input type="submit" value="Inscribirse a Materia"></input>

                </form>
                <input type="button" onclick="resetearCronograma()" value="Resetear"></button>
            </div>
            {% for curso in param["cursos"] %}
            {% for rango in curso["rango"] %}
            <input name="{{curso['materia']['id_com_mat']}}" id="{{rango['id_dia']}}" value="{{rango['id_hora']}}"
                hidden></input>
            {% endfor %}
            {% endfor %}
            {% for curso in param["cursos"] %}
            <input id="{{curso['materia']['id_com_mat']}}"
                value="{{curso['materia']['nombre']}} ({{curso['materia']['comision']}})" hidden></input>
            {% endfor %}
        </div>
    </div>

    <div class="footer">
        <h2>Contactanos</h2>
        <p> uca_planner@uca.edu.com | Teléfono: 15-4627-9873</p>
    </div>

    <script language="javascript" type="text/javascript" src="../static/js/OrganizadorDeHorarios.js"></script>
</body>

</html>