<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Para que se active el modo responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Relaciona o enlaza este archivo html con el 03.css-->
    <link rel="stylesheet" href="../static/css/OrganizadorDeHorarios.css">
    <title>UCA Planner | Organizador de Horarios</title>

</head>

<body>
    <div class="header">
        <h1>UCA Planner</h1>
    </div>
    <div class="topnav">
        <a href="/home">Información</a>
        <a href="/cronograma">Organizador de Horarios</a>
        <div class="topnav_right">
            <a href="/perfil">Usuario</a>
        </div>
    </div>

    <div class="row">
        <div class="leftcolumn">
            <div class="card">
                <table>
                    <thead>
                        <tr>
                            <th id="hora">Hora</th>
                            <th>Lunes</th>
                            <th>Martes</th>
                            <th>Miércoles</th>
                            <th>Jueves</th>
                            <th>Viernes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Aquí se mostrará la tabla de horarios -->
                        <tr id="hora1">
                            <th id="hora">07:45 - 08:30 hs</th>
                            <th id="lun-hora-1"></th>
                            <th id="mar-hora-1"></th>
                            <th id="mie-hora-1"></th>
                            <th id="jue-hora-1"></th>
                            <th id="vie-hora-1"></th>
                        </tr>
                        <tr id="hora2">
                            <th id="hora">08:30 - 09:15 hs</th>
                            <th id="lun-hora-2"></th>
                            <th id="mar-hora-2"></th>
                            <th id="mie-hora-2"></th>
                            <th id="jue-hora-2"></th>
                            <th id="vie-hora-2"></th>
                        </tr>
                        <tr id="hora3">
                            <th id="hora">09:30 - 10:15 hs</th>
                            <th id="lun-hora-3"></th>
                            <th id="mar-hora-3"></th>
                            <th id="mie-hora-3"></th>
                            <th id="jue-hora-3"></th>
                            <th id="vie-hora-3"></th>
                        </tr>
                        <tr id="hora4">
                            <th id="hora">10:15 - 11:00 hs</th>
                            <th id="lun-hora-4"></th>
                            <th id="mar-hora-4"></th>
                            <th id="mie-hora-4"></th>
                            <th id="jue-hora-4"></th>
                            <th id="vie-hora-4"></th>
                        </tr>
                        <tr id="hora5">
                            <th id="hora">11:00 - 12:15 hs</th>
                            <th id="lun-hora-5"></th>
                            <th id="mar-hora-5"></th>
                            <th id="mie-hora-5"></th>
                            <th id="jue-hora-5"></th>
                            <th id="vie-hora-5"></th>
                        </tr>
                        <tr id="hora6">
                            <th id="hora">12:15 - 13:00 hs</th>
                            <th id="lun-hora-6"></th>
                            <th id="mar-hora-6"></th>
                            <th id="mie-hora-6"></th>
                            <th id="jue-hora-6"></th>
                            <th id="vie-hora-6"></th>
                        </tr>
                        <tr id="hora7">
                            <th id="hora">13:00 - 13:30 hs</th>
                            <th id="lun-hora-7"></th>
                            <th id="mar-hora-7"></th>
                            <th id="mie-hora-7"></th>
                            <th id="jue-hora-7"></th>
                            <th id="vie-hora-7"></th>
                        </tr>
                        <tr id="hora8">
                            <th id="hora">13:30 - 14:15 hs</th>
                            <th id="lun-hora-8"></th>
                            <th id="mar-hora-8"></th>
                            <th id="mie-hora-8"></th>
                            <th id="jue-hora-8"></th>
                            <th id="vie-hora-8"></th>
                        </tr>
                        <tr id="hora9">
                            <th id="hora">14:15 - 15:00 hs</th>
                            <th id="lun-hora-9"></th>
                            <th id="mar-hora-9"></th>
                            <th id="mie-hora-9"></th>
                            <th id="jue-hora-9"></th>
                            <th id="vie-hora-9"></th>
                        </tr>
                        <tr id="hora10">
                            <th id="hora">15:15 - 16:00 hs</th>
                            <th id="lun-hora-10"></th>
                            <th id="mar-hora-10"></th>
                            <th id="mie-hora-10"></th>
                            <th id="jue-hora-10"></th>
                            <th id="vie-hora-10"></th>
                        </tr>
                        <tr id="hora11">
                            <th id="hora">16:00 - 16:45 hs</th>
                            <th id="lun-hora-11"></th>
                            <th id="mar-hora-11"></th>
                            <th id="mie-hora-11"></th>
                            <th id="jue-hora-11"></th>
                            <th id="vie-hora-11"></th>
                        </tr>
                        <tr id="hora12">
                            <th id="hora">16:45 - 17:30 hs</th>
                            <th id="lun-hora-12"></th>
                            <th id="mar-hora-12"></th>
                            <th id="mie-hora-12"></th>
                            <th id="jue-hora-12"></th>
                            <th id="vie-hora-12"></th>
                        </tr>
                        <tr id="hora13">
                            <th id="hora">17:30 - 18:45 hs</th>
                            <th id="lun-hora-13"></th>
                            <th id="mar-hora-13"></th>
                            <th id="mie-hora-13"></th>
                            <th id="jue-hora-13"></th>
                            <th id="vie-hora-13"></th>
                        </tr>
                        <tr id="hora14">
                            <th id="hora">18:45 - 19:30 hs</th>
                            <th id="lun-hora-14"></th>
                            <th id="mar-hora-14"></th>
                            <th id="mie-hora-14"></th>
                            <th id="jue-hora-14"></th>
                            <th id="vie-hora-14"></th>
                        </tr>
                        <tr id="hora15">
                            <th id="hora">19:30 - 20:30 hs</th>
                            <th id="lun-hora-15"></th>
                            <th id="mar-hora-15"></th>
                            <th id="mie-hora-15"></th>
                            <th id="jue-hora-15"></th>
                            <th id="vie-hora-15"></th>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="rightcolumn">
            <div class="card">
                <form onsubmit="return validarDatos()" action="/inscribirse" method="POST">

                    <label class="titulo1" for="inscripcion">Selecciona la Inscripción:</label>
                    <select id="inscripcion" name="inscripcion" onfocusout="validarInscripcion()">
                        <option value="0" disabled selected>Seleccionar..</option>

                        {% for inscripcion in param["inscripciones"] %}
                        {% if inscripcion["estado"] == "cerrada" %}
                        <option disabled>Inscripciones {{inscripcion["año"]}}
                            {{inscripcion["cuatri"]}}{{inscripcion["tipo"]}}Cuatri.
                        </option>
                        {% else %}
                        <option value="{{inscripcion['id']}}">Inscripciones {{inscripcion["año"]}}
                            {{inscripcion["cuatri"]}}{{inscripcion["tipo"]}}Cuatri.
                        </option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <p class="error" id="error inscripcion"></p>

                    <label class="titulo1" for="materia">Selecciona una materia:</label>
                    <select id="materia" name="materia">
                        <option value="0" disabled selected>Seleccionar..</option>

                        <!-- {% for materias in param["hora_mat_com"] %} -->
                        <option value="calculoElemental">Cálculo Elemental</option>
                        <option value="filo">Filosofía</option>
                        <option value="info">Informática General</option>
                        <option value="compl">Complemento de Matemática</option>
                        <option value="repre">Representación Gráfica</option>
                        <option value="intro">Introducción a la Ingeniería</option>
                    </select>
                    <p class="error" id="error incompleto"></p>

                    <button onclick="agregarMateria()">Agregar Materia</button>
                    <button onclick="resetearCronograma()">Resetear</button>
                    <button type="submit">Inscribirse a Materias</button>
                    <!-- Estos buttons deberían ser inputs dentro de un form 
                
                    SE VA A USAR AJAX EN ESTA TABLA PARA PODER REALIZAR LA CARGA DE FORMA ASINCRONICA
                    (y asi no tener que actualizar la pagina cada vez que se carga la pantalla)
                -->
                </form>
            </div>
        </div>
    </div>

    <div class="footer">
        <h2>Contactanos</h2>
        <p> uca_planner@uca.edu.com | Teléfono: 15-4627-9873</p>
    </div>

    <script language="javascript" type="text/javascript" src="../static/js/OrganizadorDeHorarios.js"></script>
</body>

</html>