<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/Visualizador.css">
  <title>UCA Planner | Organizador de Horarios</title>
</head>

<body>
  <div class="header">
    <h1>UCA Planner</h1>
  </div>

  <div class="topnav">
    <a href="/home">Información</a>
    <a href="/cronograma">Organizador de Horarios</a>
    <div class="topnav_right">
      <a href="/register">Registrarse</a>
      <a href="/login">Iniciar Sesión</a>
    </div>
  </div>

  <div class="titulo">
    <h1>Esto es un visualizador del Organizador de Horarios</h1>
    <h2>Debe <a href="/login">iniciar sesión</a> para poder usar UCA Planner</h2>
  </div>

  <div class="tabla">
    <table>
      <thead>
        <th>HORA</th>
        <th>LUNES</th>
        <th>MARTES</th>
        <th>MIERCOLES</th>
        <th>JUEVES</th>
        <th>VIERNES</th>
      </thead>
      <tbody class="tabla1">
        <tr>
          <td class="col1">7:45 - 8:30</td>
          <td>-</td>
          <td class="s13">Representación Gráfica</td>
          <td class="s13">Informática General</td>
          <td class="s13">Complementos de Matemática</td>
          <td class="s13">Introducción a la Ingeniería</td>
        </tr>
        <tr>
          <td class="col1">8:30 - 9:15</td>
          <td>-</td>
          <td class="s13">Representación Gráfica</td>
          <td class="s13">Informática General</td>
          <td class="s13">Complementos de Matemática</td>
          <td class="s13">Introducción a la Ingeniería</td>
        </tr>
        <tr>
          <td class="col1">9:30 - 10:15</td>
          <td>-</td>
          <td class="s13">Representación Gráfica</td>
          <td class="s13">Informática General</td>
          <td class="s13">Complementos de Matemática</td>
          <td class="s13">Introducción a la Ingeniería</td>
        </tr>
        <tr>
          <td class="col1">10:15 - 11:00</td>
          <td class="s13">Representación Gráfica</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td class="col1">11:30 - 12:15</td>
          <td class="s13">Representación Gráfica</td>
          <td>-</td>
          <td>-</td>
          <td class="s13">Informática General</td>
          <td>-</td>
        </tr>
        <tr>
          <td class="col1">12:15 - 13:00</td>
          <td class="s13">Representación Gráfica</td>
          <td>-</td>
          <td>-</td>
          <td class="s13">Informática General</td>
          <td>-</td>
        <tr>
          <td class="col1">13:00- 14:15</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td class="s13">Informática General</td>
          <td>-</td>
        </tr>
        <tr>
          <td class="col1">14:15 - 16:00</td>
          <td class="s13">Filosofía</td>
        </tr>
        <tr>
          <td class="col1">16:00- 18:45</td>
          <td class="s13">Cálculo Elemental</td>
          <td>-</td>
          <td class="s13">Cálculo Elemental</td>
          <td>-</td>
          <td class="s13">Cálculo Elemental</td>
        </tr>
        <tr>
          <td class="col1">18:45- 19:30</td>
          <td class="s13">Cálculo Elemental</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td class="s13">Cálculo Elemental</td>
        </tr>
        <tr>
          <td class="col1">19:30- 20:30</td>
          <td class="s13">Cálculo Elemental</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td class="pie" colspan="6"> HORARIOS DE COMISIÓN AM </td>
        </tr>
      </tfoot>
    </table>
    </article>
    </section>

    <div class="footer">
      <h2>Contactanos</h2>
      <p> uca_planner@uca.edu.com | Teléfono: 15-4627-9873</p>
    </div>


</body>

</html>